:root{
  --color1: #FFBA49;
  --color2: #591A1A;
  --content-width: 98%;
  --content-max-width: 1078px;
}
*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html{
  width: 100vw;
  height: 100vh;
}
#root{
  padding: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}
main{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: var(--color1);
}
